<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template-default</title>
</head>

<body style="
margin: 0; 
padding: 0; 
font-family: Verdana, Geneva, Tahoma, sans-serif; 
background-color: black; 
display: flex; 
justify-content: center;
align-items: center;
color: white;
">
    <table style="width: 600px;">
        <tr>
            <td style="
            margin: 16px 32px;
            display: flex; 
            justify-content: space-between; 
            align-items: center;">
                <h1>Suporte de Domingo</h1>
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/94.png" alt=""
                    srcset="">
            </td>
        </tr>
        <tr>
            <td style="border-top: 1px solid white; 
            border-bottom: 1px solid white;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            ">
                <p>newsletter</p>
                <p>22/06</p>
            </td>
        </tr>
        <tr>
            <td style="padding: 10px;"">Olá meu nome é, {{name}}, deixei essa mensagem no seu portifólio, 
                {{message}}, para me responder, use o
                meu email {{email}}.</td>
        </tr>
    </table>
</body>

</html>